.toogle-option{
  text-transform: capitalize !important; 
  font-weight: 500;
  font-size: 10px !important;
  line-height: 20px !important;
  padding: 0em 2.5em !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}